<label>Username:
{{input type="text" value=username change=(action "validateUsername" value="target.value")}}
<span class="{{if usernameValid "valid" "invalid"}}">
  {{#if hasValidatedUsername}}
    {{#if usernameValid}}Username is available!
    {{else}}Username is taken!
    {{/if}}
  {{/if}}
</span>
</label>

<label>Password:
{{input type="password" value=password change=(action "validatePassword" value="target.value")}}
</label>

<label>Verify Password:
  {{input type="password" value=verifyPassword change=(action "validatePassword" value="target.value")}}

<span class="{{if passwordValid "valid" "invalid"}}">
  {{#if hasValidatedPassword}}
    {{#unless passwordValid}}Passwords do no match!{{/unless}}
  {{/if}}
</span>
</label>

<label>Email:
{{input type="text" value=email change=(action "validateEmail" value="target.value")}}
<span class="{{if usernameValid "valid" "invalid"}}">
  {{#if hasValidatedEmail}}
    {{#if usernameValid}}Username is available!
    {{else}}Username is taken!
    {{/if}}
  {{/if}}
</span>
</label>

<button {{action "submit"}}>Submit</button>
